In [3]:
#Exerciocio 1
peso = float(input('Digite seu peso: '))
altura = float(input('Digite sua altura: '))
imc = peso / (altura * altura)
f'Seu IMC é: {imc}'

'nome e 23.875114784205696'

In [6]:
#Exercicio 2
mylist = []
for i in range (0,5):
    value = int(input('Digite algo: '))
    mylist.append(value)
f'Segue lista preenchida: {mylist}'

'''''
Exemplo com menos recurso
mylist = []
value1 = int(input('Digite algo: '))
value2 = int(input('Digite algo: '))
value3 = int(input('Digite algo: '))
value4 = int(input('Digite algo: '))
value5 = int(input('Digite algo: '))
mylist.append(value1)
mylist.append(value2)
mylist.append(value3)
mylist.append(value4)
mylist.append(value5)
f'Segue lista preenchida: {mylist}'
'''''

"''\nExemplo com menos recurso\nmylist = []\nvalue1 = int(input('Digite algo: '))\nvalue2 = int(input('Digite algo: '))\nvalue3 = int(input('Digite algo: '))\nvalue4 = int(input('Digite algo: '))\nvalue5 = int(input('Digite algo: '))\nmylist.append(value1)\nmylist.append(value2)\nmylist.append(value3)\nmylist.append(value4)\nmylist.append(value5)\nf'Segue lista preenchida: {mylist}'\n"

In [10]:
entrada = input('Digite uma lista de nomes separados por virgula: ')
nomes = entrada.split(',')
f'Segue lista de nomes: {nomes}'

"['Kalil', 'Garcia', 'Pereira']"

In [13]:
#Exercicio 3
mylist = []
value1 = int(input('Digite algo: '))
value2 = int(input('Digite algo: '))
value3 = int(input('Digite algo: '))
value4 = int(input('Digite algo: '))
value5 = int(input('Digite algo: '))
mylist.append(value1)
mylist.append(value2)
mylist.append(value3)
mylist.append(value4)
mylist.append(value5)
f'Segue lista preenchida: {mylist}'

'Segue lista preenchida: [1, 2, 3, 4, 5]'

In [2]:
saldo = 960.00
saque = float(input('Quanto deseja sacar: '))
NovoSaldo = saldo - saque
f'Segue seu novo saldo: {NovoSaldo}'

'Segue seu novo saldo: 959.0'

In [3]:
num = int(input("Digite um numero: " ))
if num % 2 == 0:
    print ("Par")
else:
    print ("Impar")

Impar

In [2]:
frase = input("Digite uma frase: ")
mylist = []
for i in frase:
    mylist.append(i)
    print('Posição {} corresponde a letra {}'.format(mylist.index(i), i))

Posição 0 corresponde a letra K
Posição 1 corresponde a letra a
Posição 2 corresponde a letra l
Posição 3 corresponde a letra i
Posição 2 corresponde a letra l

In [8]:
SenhaCorreta = "1234"
SenhaDigitada = ""

while SenhaDigitada != SenhaCorreta:
    SenhaDigitada = input("Digite uma senha de 4 digitos: ")
    if SenhaDigitada == SenhaCorreta:
        print("Senha correta! Acesso consedido.")
    else:
        print("Senha iccorreta! Acesso negado.")

Senha iccorreta! Acesso negado.
Senha iccorreta! Acesso negado.
Senha iccorreta! Acesso negado.

In [7]:

eh_multiplo_dez = lambda x: x % 10 == 0
eh_multiplo_dez(5)

False

In [19]:
def calc_fatorial(n):
    # Verifica se n é 0 ou 1, nesse caso retorna 1
    if n == 0 or n == 1:
        return 1
    # Inicializa a variável fatorial com 1 para acumular o resultado
    else:
        fatorial = 1
    # Loop for para iterar de 2 até n (inclusive)
        for i in range(2, n + 1):
    # Atualiza o valor de fatorial multiplicando pelo valor de i
            fatorial = fatorial*i
    # Retorna o resultado do cálculo do fatorial
        return fatorial
calc_fatorial(5)

120

In [24]:
def p_nome(nome_completo):
    nomes = []
    partes = nome_completo.split()
    if partes:
        return partes[0]
    else:
        return ''

p_nome('Kalil Pereira','Aline Alves')

#nomes = ['João Carlos', 'Maria Eduarda', 'Ana Rute', 'Ana Clara']

#nomes_primeiro = list(map(p_nome, nomes))

#print(nomes_primeiro)

TypeError: p_nome() takes 1 positional argument but 2 were given

In [ ]:
def dia_da_semana(data):
    try:
        data_formatada = datetime.strptime(data, '%d/%m/%Y')
        dia_da_semana = data_formatada.strftime('%A')
        return dia_da_semana
    except ValueError:
        return "Data inválida"

# Teste da função
data = "23/08/2023"
dia = dia_da_semana(data)
print(f"O dia da semana para {data} é {dia}")